{% load staticfiles %}

<html>
<head>
    <title>SOMA</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/soma.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">


  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 18,
      max: 100,
      values: [ 18, 100 ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "" + ui.values[ 0 ] + " - " + ui.values[ 1 ] );
      }
    });
    $( "#amount" ).val( "" + $( "#slider-range" ).slider( "values", 0 ) +
      " - " + $( "#slider-range" ).slider( "values", 1 ) );
  });
  </script>
  <style>
  body {
    min-width: 520px;
  }
  .column {
    width: 100%;
    float: left;
    padding-bottom: 100px;
  }
  .portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
  }
  .portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
  }
  .portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
  }
  .portlet-content {
    padding: 0.4em;
  }
  .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
  }
  </style>
  <script>
  $(function() {
    $( ".column" ).sortable({
      connectWith: ".column",
      handle: ".portlet-header",
      cancel: ".portlet-toggle",
      placeholder: "portlet-placeholder ui-corner-all"
    });

    $( ".portlet" )
      .addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" )
      .find( ".portlet-header" )
        .addClass( "ui-widget-header ui-corner-all" )
        .prepend( "<span class='ui-icon ui-icon-minusthick portlet-toggle'></span>");

    $( ".portlet-toggle" ).click(function() {
      var icon = $( this );
      icon.toggleClass( "ui-icon-minusthick ui-icon-plusthick" );
      icon.closest( ".portlet" ).find( ".portlet-content" ).toggle();
    });
  });
  </script>

</head>

<body>

    <div class="page-header">
    	<ul>
    		<li> <a href="{% url 'app.views.index' %}" class="logo"> <img src="{% static 'images/logo.jpg'%}" alt=" "> </a> </li>
    		<li> <h1> <a href="{% url 'app.views.index' %}" class="logo"> SOMA </a></h1> </li>
            {% if user and user.is_authenticated %}
            	<li> <div class='page-header_username'> {{ user.get_short_name|default:user.username }}</div>
            	<li> <a href="/logout" class="logout">logout</a></li>
            {% endif %}
        </ul>
    </div>



    <div class="content container">
        <div class="row">
            <div class="col-md-8">

            {% block content %}

            {% endblock %}
			<br>
			<br>
            </div>
        </div>

		<!-- FOOTER -->
		<footer> <!-- Reseaux sociaux -->
		<tbody>
			<tr>
			<td align="center" valign="top" style="padding:9px">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
		<tbody><tr>
			<td align="center" style="padding-left:9px;padding-right:9px">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border:1px solid #eeeeee;background-color:#fafafa;border-collapse:collapse">
		<tbody><tr>
			<td align="center" valign="top" style="padding-top:9px;padding-right:9px;padding-left:9px"> Suivez-nous sur :</hr>
			<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
		<tbody><tr>
			<td valign="top">
			<table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
		<tbody><tr>
			<td align="center" valign="top" style="padding-right:10px;padding-bottom:5px">
				<a href="https://www.facebook.com/soma" style="word-wrap:break-word" target="_blank"><img src="https://ci3.googleusercontent.com/proxy/g6FtADNL7Sv6fmPqvszVWCqAbU0tjF_Gc6HVsQzehNF03FiexbApFmdikQPIzKGp9w5NcePMdldTFYdEICqQt_qAwqKVXbFmFAUoUr1WUWdygv3SQvBUCixcsUN05T2SOg=s0-d-e1-ft#http://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-96.png" alt="Facebook" width="48" style="width:48px;max-width:48px;display:block;border:0;outline:none;text-decoration:none" class="CToWUd"></a>
			</td>
			</tr>
			<tr>
			<td align="center" valign="top" style="padding-right:10px;padding-bottom:9px">
				<a href="https://www.facebook.com/soma" style="color:#606060;font-family:Arial;font-size:11px;font-weight:normal;line-height:100%;text-align:center;text-decoration:none;word-wrap:break-word" target="_blank">Facebook</a>
			</td>
			</tr>
		</tbody></table>
			<table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
		<tbody><tr>
			<td align="center" valign="top" style="padding-right:10px;padding-bottom:5px">
				<a href="https://twitter.com/soma" style="word-wrap:break-word" target="_blank"><img src="https://ci5.googleusercontent.com/proxy/hFOjQ4wBdntqcGvfhBxlewt4oRPay1AgDxeGA2KSt6GX8xUpulayqoXVVNqwuZ0g7QlJixaZglnX02_rfg0tjqG9O0bvjNY-3whYug2Kp-2prncKll_iWKHP15CaRUlu=s0-d-e1-ft#http://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-96.png" alt="Twitter" width="48" style="width:48px;max-width:48px;display:block;border:0;outline:none;text-decoration:none" class="CToWUd"></a>
			</td>
			</tr>
			<tr>
			<td align="center" valign="top" style="padding-right:10px;padding-bottom:9px">
				<a href="https://twitter.com/soma" style="color:#606060;font-family:Arial;font-size:11px;font-weight:normal;line-height:100%;text-align:center;text-decoration:none;word-wrap:break-word" target="_blank">Twitter</a>
			</td>
			</tr>
		</tbody></table>
			<table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
		<tbody><tr>
			<td align="center" valign="top" style="padding-right:0;padding-bottom:5px">
				<a href="https://www.youtube.com/user/soma" style="word-wrap:break-word" target="_blank" class="playable"><img src="https://ci4.googleusercontent.com/proxy/zUkKIJfjrKoj7T8BHJge3gfPAp8YJ6X3kDVPptymCrBbB1ebploEtiLPgsSNErDrohiN4Cdc0vPmmuFi232ARFFc9yzBpQqz8fSFoZaUR9xvQXC5FKxpOgd_ZdmzC8vw=s0-d-e1-ft#http://cdn-images.mailchimp.com/icons/social-block-v2/color-youtube-96.png" alt="YouTube" width="48" style="width:48px;max-width:48px;display:block;border:0;outline:none;text-decoration:none" class="CToWUd"></a>
			</td>
			</tr>
			<tr>
			<td align="center" valign="top" style="padding-right:0;padding-bottom:9px">
				<a href="https://www.youtube.com/user/soma" style="color:#606060;font-family:Arial;font-size:11px;font-weight:normal;line-height:100%;text-align:center;text-decoration:none;word-wrap:break-word" target="_blank">YouTube</a>
			</td>
			</tr>
		</tbody></table>
			</td>
			</tr>
		</tbody></table>
			</td>
			</tr>
		</tbody></table>
			</td>
			</tr>
		</tbody></table>
    		</td>
	        </tr>
	    </tbody>
		</footer> <!-- /Reseaux sociaux -->
	</div><!-- /.container -->
</body>

</html>
