{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<div class="container">

        <h1> Mon graphe </h1>
        
        <div class="bouton-bar">
    		<ul> 
				<li> <a href="{% url 'app.views.objectif' %}" class="logo"> <img src="../static/images/pencil.png" alt=" "> </a> </li>  
				<li> <a href="{% url 'app.views.suggestions' %}" class="logo"> <img src="../static/images/valide.png" alt=" "> </a> </li>  
				<li> <a href="{% url 'app.views.reseaux' %}" class="logo"> <img src="../static/images/ajout.png" alt=" "> </a> </li>  
    		</ul>
    	</div>
        <div class="graphe">
			<img src="//placehold.it/1024x700" class="img-responsive" >
        </div>
        	
       
        	
</div>

{% endblock content %}
