{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}

<div class="container">


  <h1> Définir mon objectif </h1>
  <form action="/objectif" method="POST">
    {% csrf_token %}
  <div class="objectif">
    Je désire : <div>
      <div class="dropdown clearfix">
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
          <li {% if 'objectif/1' in current_path.current_path %} class="active" {% endif %}><a tabindex="-1" href="/objectif/1">Rencontrer plus</a></li>
          <li {% if 'objectif/2' in current_path.current_path %} class="active" {% endif %}><a tabindex="-1" href="/objectif/2">Être plus</a></li>
          <li {% if 'objectif/3' in current_path.current_path %} class="active" {% endif %}><a tabindex="-1" href="/objectif/3">Renforcer mon groupe d'amis</a></li>
        </ul>
      </div>

      {% if 'objectif/1' in current_path.current_path %}
      <div class="dropdown clearfix">
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
          <li {% if 'objectif/1/1' in current_path.current_path %} class="active" {% endif %}><a tabindex="-1" href="/objectif/1/1">De femmes</a></li>
          <li {% if 'objectif/1/2' in current_path.current_path %} class="active" {% endif %}><a tabindex="-1" href="/objectif/1/2">D'hommes</a></li>
          <li {% if 'objectif/1/3' in current_path.current_path %} class="active" {% endif %}><a tabindex="-1" href="/objectif/1/3">De personnes (sexe indifférent)</a></li>
          <li {% if 'objectif/1/4' in current_path.current_path %} class="active" {% endif %}><a tabindex="-1" href="/objectif/1/4">De professionnels</a></li>
        </ul>
      </div>

      {% if 'objectif/1/1' in current_path.current_path %}


        <div class="dropdown clearfix">
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
          <li {% if 'objectif/1/1/1' in current_path.current_path %} class="active" {% endif %}><a tabindex="-1" href="/objectif/1/1/1">Dans ma région</a></li>
          <li {% if 'objectif/1/1/2' in current_path.current_path %} class="active" {% endif %}><a tabindex="-1" href="/objectif/1/1/2">Sur mon lieu de travail</a></li>
        </ul>
      </div>
      {% if 'objectif/1/1/1' in current_path.current_path %}
      <label for="amount">Age:</label>
      <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
    <div id="slider-range"></div> <br/>
      <input type="hidden" name="choix1" value="Rencontrer plus">
      <input type="hidden" name="choix2" value="de femmes">
      <input type="hidden" name="choix3" value="dans ma région">
      <input type="hidden" name="choix" value="111">
      <input type="submit" value="Valider">
      {% endif %}
      {% if 'objectif/1/1/2' in current_path.current_path %}
      <label for="amount">Age:</label>
      <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
    <div id="slider-range"></div> <br/>
    <input type="hidden" name="choix1" value="Rencontrer plus">
    <input type="hidden" name="choix2" value="de femmes">
    <input type="hidden" name="choix3" value="sur mon lieu de travail">
      <input type="hidden" name="choix" value="112">
      <input type="submit" value="Valider">
      {% endif %}


      {% endif %}
      {% if 'objectif/1/2' in current_path.current_path %}
      <div class="dropdown clearfix">

        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
          <li {% if 'objectif/1/2/1' in current_path.current_path %} class="active" {% endif %}><a tabindex="-1" href="/objectif/1/2/1">Dans ma région</a></li>
          <li {% if 'objectif/1/2/2' in current_path.current_path %} class="active" {% endif %}><a tabindex="-1" href="/objectif/1/2/2">Sur mon lieu de travail</a></li>
        </ul>
      </div>
      {% if 'objectif/1/2/1' in current_path.current_path %}
      <label for="amount">Age:</label>
      <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
    <div id="slider-range"></div> <br/>
    <input type="hidden" name="choix1" value="Rencontrer plus">
    <input type="hidden" name="choix2" value="d'hommes">
    <input type="hidden" name="choix3" value="sur mon lieu de travail">
      <input type="hidden" name="choix" value="121">
      <input type="submit" value="Valider">
      {% endif %}
      {% if 'objectif/1/2/2' in current_path.current_path %}
      <label for="amount">Age:</label>
      <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
    <div id="slider-range"></div> <br/>
    <input type="hidden" name="choix1" value="Rencontrer plus">
    <input type="hidden" name="choix2" value="d'hommes">
    <input type="hidden" name="choix3" value="sur mon lieu de travail">
      <input type="hidden" name="choix" value="122">
      <input type="submit" value="Valider">
      {% endif %}
      {% endif %}

      {% if 'objectif/1/3' in current_path.current_path %}

      <div class="dropdown clearfix">
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
          <li {% if 'objectif/1/3/1' in current_path.current_path %} class="active" {% endif %}><a tabindex="-1" href="/objectif/1/3/1">Dans ma région</a></li>
          <li {% if 'objectif/1/3/2' in current_path.current_path %} class="active" {% endif %}><a tabindex="-1" href="/objectif/1/3/2">Sur mon lieu de travail</a></li>
        </ul>
      </div>
      {% if 'objectif/1/3/1' in current_path.current_path %}
      <label for="amount">Age:</label>
      <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
    <div id="slider-range"></div> <br/>
    <input type="hidden" name="choix1" value="Rencontrer plus">
    <input type="hidden" name="choix2" value="de personnes (sexe indifférent)">
    <input type="hidden" name="choix3" value="dans ma région">
      <input type="hidden" name="choix" value="131">
      <input type="submit" value="Valider">
      {% endif %}
      {% if 'objectif/1/3/2' in current_path.current_path %}
      <label for="amount">Age:</label>
      <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
    <div id="slider-range"></div> <br/>
    <input type="hidden" name="choix1" value="Rencontrer plus">
    <input type="hidden" name="choix2" value="de personnes (sexe indifférent)">
    <input type="hidden" name="choix3" value="sur mon lieu de travail">
      <input type="hidden" name="choix" value="132">
      <input type="submit" value="Valider">
      {% endif %}
      {% endif %}
      {% if 'objectif/1/4' in current_path.current_path %}
      <div class="dropdown clearfix">
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
          <li {% if 'objectif/1/4/1' in current_path.current_path %} class="active" {% endif %}><a tabindex="-1" href="/objectif/1/4/1">Dans ma région</a></li>
          <li {% if 'objectif/1/4/2' in current_path.current_path %} class="active" {% endif %}><a tabindex="-1" href="/objectif/1/4/2">Sur mon lieu de travail</a></li>
        </ul>
      </div>
      {% if 'objectif/1/4/1' in current_path.current_path %}
      <input type="hidden" name="choix1" value="Rencontrer plus">
      <input type="hidden" name="choix2" value="de professionnels">
      <input type="hidden" name="choix3" value="dans ma région">
      <input type="hidden" name="choix" value="141">
      <input type="submit" value="Valider">
      {% endif %}
      {% if 'objectif/1/4/2' in current_path.current_path %}
      <input type="hidden" name="choix1" value="Rencontrer plus">
      <input type="hidden" name="choix2" value="de professionnels">
      <input type="hidden" name="choix3" value="sur mon lieu de travail">
      <input type="hidden" name="choix" value="142">
      <input type="submit" value="Valider">
      {% endif %}
      {% endif %}
      {% endif %}
      {% if 'objectif/2' in current_path.current_path %}
      <div class="dropdown clearfix">
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
          <li {% if 'objectif/2/1' in current_path.current_path %} class="active" {% endif %}><a tabindex="-1" href="/objectif/2/1">Populaire</a></li>
          <li {% if 'objectif/2/2' in current_path.current_path %} class="active" {% endif %}><a tabindex="-1" href="/objectif/2/2">Central</a></li>
        </ul>
      </div>

      {% if 'objectif/2/1' in current_path.current_path %}
      <div class="dropdown clearfix">
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
          <li {% if 'objectif/2/1/1' in current_path.current_path %} class="active" {% endif %}><a tabindex="-1" href="/objectif/2/1/1">Dans ma région</a></li>
          <li {% if 'objectif/2/1/2' in current_path.current_path %} class="active" {% endif %}><a tabindex="-1" href="/objectif/2/1/2">Sur mon lieu de travail</a></li>
        </ul>
      </div>
      {% if 'objectif/2/1/1' in current_path.current_path %}
      <input type="hidden" name="choix1" value="Être plus">
      <input type="hidden" name="choix2" value="populaire">
      <input type="hidden" name="choix3" value="dans ma région">
      <input type="hidden" name="choix" value="211">
      <input type="submit" value="Valider">
      {% endif %}
      {% if 'objectif/2/1/2' in current_path.current_path %}
      <input type="hidden" name="choix1" value="Être plus">
      <input type="hidden" name="choix2" value="populaire">
      <input type="hidden" name="choix3" value="sur mon lieu de travail">
      <input type="hidden" name="choix" value="212">
      <input type="submit" value="Valider">
      {% endif %}
      {% endif %}
      {% if 'objectif/2/2' in current_path.current_path %}
      <div class="dropdown clearfix">
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
          <li {% if 'objectif/2/2/1' in current_path.current_path %} class="active" {% endif %}><a tabindex="-1" href="/objectif/2/2/1">Dans ma région</a></li>
          <li {% if 'objectif/2/2/2' in current_path.current_path %} class="active" {% endif %}><a tabindex="-1" href="/objectif/2/2/2">Sur mon lieu de travail</a></li>
        </ul>
      </div>
      {% if 'objectif/2/2/1' in current_path.current_path %}
      <input type="hidden" name="choix1" value="Être plus">
      <input type="hidden" name="choix2" value="central">
      <input type="hidden" name="choix3" value="dans ma région">
      <input type="hidden" name="choix" value="221">
      <input type="submit" value="Valider">
      {% endif %}
      {% if 'objectif/2/2/2' in current_path.current_path %}
      <input type="hidden" name="choix1" value="Être plus">
      <input type="hidden" name="choix2" value="central">
      <input type="hidden" name="choix3" value="sur mon lieu de travail">
      <input type="hidden" name="choix" value="222">
      <input type="submit" value="Valider">
      {% endif %}
      {% endif %}
      {% endif %}

      {% if 'objectif/3' in current_path.current_path %}
      <div class="dropdown clearfix">
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
          <li {% if 'objectif/3/1' in current_path.current_path %} class="active" {% endif %}><a tabindex="-1" href="/objectif/3/1">Dans ma région</a></li>
          <li {% if 'objectif/3/2' in current_path.current_path %} class="active" {% endif %}><a tabindex="-1" href="/objectif/3/2">Sur mon lieu de travail</a></li>
        </ul>
      </div>
      {% if 'objectif/3/1' in current_path.current_path %}
      <input type="hidden" name="choix1" value="Renforcer mon groupe d'amis">
      <input type="hidden" name="choix2" value="dans ma région">
      <input type="hidden" name="choix3" value=" ">
      <input type="hidden" name="choix" value="31">
      <input type="submit" value="Valider">
      {% endif %}
      {% if 'objectif/3/2' in current_path.current_path %}
      <input type="hidden" name="choix1" value="Renforcer mon groupe d'amis">
      <input type="hidden" name="choix2" value="sur mon lieu de travail">
      <input type="hidden" name="choix3" value=" ">
      <input type="hidden" name="choix" value="32">
      <input type="submit" value="Valider">
      {% endif %}
      {% endif %}
    </div>

  </div>
</form>
  <div class="bouton-bar">
    <ul>
      <li> <a href="{% url 'app.views.graphe' %}" class="logo"> <img src="{% static 'images/graphe.png'%}" alt=" "> </a> </li>
      <li> <a href="{% url 'app.views.suggestions' %}" class="logo"> <img src="{% static 'images/valide.png'%}" alt=" "> </a> </li>
      <li> <a href="{% url 'app.views.reseaux' %}" class="logo"> <img src="{% static 'images/ajout.png'%}" alt=" "> </a> </li>
    </ul>
  </div>

</div>


{% endblock content %}
